@page "/datos"

@inject NavigationManager Nav

<PageTitle>Registros</PageTitle>

<h2 style="margin-top: 50px;">Accidentes Registrados</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Fecha de registro</th>
                <th>Costo</th>
                <th>Cantidad de Vehículos</th>
                <th>Detalles</th>
            </tr>
        </thead>

        <tbody>

        @foreach (var registro in registros)
        {
            <tr>
                <td>@registro.Fecha</td>
                <td>@registro.Costo.ToString("n2")</td> 
                <td>@registro.Vehiculos</td>                   
                <td>
                <button class="btn btn-primary" @onclick="()=>navegar(registro.Id)">Detalles</button>
                </td>
            </tr>
        }

        </tbody>
    </table>

@code {

    
    List<Datos> registros = new List<Datos>();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if(!Directory.Exists("datax"))
        {
           return;   
        }

        var files = Directory.GetFiles("datax");

        foreach(var file in files)
        {

            var content = await File.ReadAllTextAsync(file);

            var registro = Newtonsoft.Json.JsonConvert.DeserializeObject<Datos>(content);
            
            registros.Add(registro);
        }

    }

    void navegar(string id)
    {   
        Nav.NavigateTo($"/datos/{id}");
    }   

}
